html, body {
  overflow: auto; /* Permite a rolagem */
  height: 100%;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #004d40;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.radio-group {
  display: flex;
  gap: 10px;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pricing-container {
  width: 100%;
  margin-top: 20px;
}

.pricing-title {
  text-align: center;
  color: #004d40;
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px; /* Ajustei a largura para que os cards fiquem iguais */
  min-height: 180px; /* Para manter a altura similar */
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #2e7d32;
}

/* Ajustando para telas menores */
@media (max-width: 768px) {
  .pricing-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%; /* Ocupa mais espaço em telas menores */
  }
}
